/1_ML.ipynb
/adult.csv
/churn.csv
/diabetes_cleaned.csv
/winequality-red.csv
/Введение_в_ансамбли_бэггинг._Случайный_лес.ipynb
/Деревья_решений.ipynb
/Логистическая_регрессия.ipynb
/Мультиклассовая_классификация.ipynb
/Практика._Adult_Classification.ipynb